body {
    margin: 0;
    height: 100vh;
    width: 100%;
    min-width: 400px;
    min-height: 300px;
    font-size: 18px;
}

nav {
    background-color: #333;
    overflow: hidden;
    min-height: 50px;
    display: flex;
}

nav a {
    color: white;
    text-align: center;
    flex-grow: 1;
    padding: 15px;
}

nav a:hover {
    background-color: white;
    color: black;
}

nav a.active {
    background-color: darkgreen;
    color: white;
    text-decoration: underline;
}

#progress-bar {
    height: 3px;
    background-color: red;
    width: 50%;
}

#container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    width: 100%;
}

#container p {
    min-height: 150px;
    padding: 15px;
    margin: 15%;
    border-style: dotted;
}
